<div class="p-8">
  <div *ngIf="homepageData.lastThreeCreatedRecipes">
    <h1 class="text-2xl text-center">Previous recipes</h1>
    <app-recipes-table [userRecipes]="homepageData.lastThreeCreatedRecipes"></app-recipes-table>
  </div>

  <div *ngIf="homepageData.lastSixVisitedRecipes">
    <h1 class="text-2xl text-center">Last visited recipes</h1>
    <app-recipes-table [userRecipes]="homepageData.lastSixVisitedRecipes"></app-recipes-table>
  </div>
</div>
