<table class="table-auto w-full rounded-lg overflow-hidden shadow-lg text-center">
  <thead class="bg-base-300 text-slate-500">
  <th class="p-4">
    Title
    <i class="fa fa-arrow-up mx-1 cursor-pointer" (click)="sortTable('title', 'asc')"></i>
    <i class="fa fa-arrow-down mx-1 cursor-pointer" (click)="sortTable('title', 'desc')"></i>
  </th>

  <th class="p-4">
    Description
    <i class="fa fa-arrow-up mx-1 cursor-pointer" (click)="sortTable('description', 'asc')"></i>
    <i class="fa fa-arrow-down mx-1 cursor-pointer" (click)="sortTable('description', 'desc')"></i>
  </th>

  <th class="p-4">
    Created at
    <i class="fa fa-arrow-up mx-1 cursor-pointer" (click)="sortTable('createdAt', 'asc')"></i>
    <i class="fa fa-arrow-down mx-1 cursor-pointer" (click)="sortTable('createdAt', 'desc')"></i>
  </th>

  <th class="p-4">
    Is Private
    <i class="fa fa-arrow-up mx-1 cursor-pointer" (click)="sortTable('isPrivate', 'asc')"></i>
    <i class="fa fa-arrow-down mx-1 cursor-pointer" (click)="sortTable('isPrivate', 'desc')"></i>
  </th>

  <th class="p-4">Actions</th>
  </thead>
  <tbody>
  <tr *ngFor="let recipe of userRecipes" class="bg-base-100">
    <td class="p-4">{{ recipe.title }}</td>
    <td class="p-4">{{ recipe.description }}</td>
    <td class="p-4">{{ recipe.createdAt | date:'medium' }}</td>
    <td class="p-4">{{ recipe.isPrivate }}</td>
    <td class="p-4 flex justify-center gap-x-3">
      <i onclick="details_modal.showModal()" (click)="showDetails(recipe)" class="fa fa-eye cursor-pointer"></i>
      <i (click)="confirmDelete(recipe)" class="fa fa-trash cursor-pointer"></i>
    </td>
  </tr>
  </tbody>
</table>

<dialog id="details_modal" class="modal backdrop-blur-lg">
  <app-recipe-details-modal [recipe]="selectedRecipe" class="w-full flex justify-center"></app-recipe-details-modal>
</dialog>
