<section class="text-white" *ngIf="!isAuth; else authHome">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:items-center">
    <div class="mx-auto max-w-3xl text-center">
      <h1
        class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl">
        Welcome to Khizo.
        <span class="sm:block">Your Ultimate Cooking Companion.</span>
      </h1>

      <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
        An online recipe sharing platform where everyone can be a master chef. Discover, create and share your culinary passion with Khizo.
      </p>

      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <a
          class="block w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
          routerLink="/login">
          Login
        </a>

        <a
          class="block w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
          routerLink="/register">
          Register
        </a>
      </div>
    </div>
  </div>
</section>


<ng-template #authHome>
  <app-home-authenticated></app-home-authenticated>
</ng-template>
