<div class="modal-box bg-secondary">
  <div class="rounded-xl shadow-md flex flex-col">
    <h3 class="font-bold text-lg mb-4">{{ recipe.title }}</h3>
    <div class="mb-5">
      <p class="text-md">{{ recipe.description }}</p>
    </div>
    <div class="mb-5">
      <h4 class="font-bold text-md mb-2">Ingredients:</h4>
      <ul class="list-disc list-inside" *ngIf="recipe.ingredients?.length">
        <li class="text-sm" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} : {{ ingredient.quantity }} {{ ingredient.unit }}</li>
      </ul>
      <div class="mt-2">
        <button class="btn">Add Ingredients</button>
      </div>
    </div>
    <div class="mb-5">
      <h4 class="font-bold text-md mb-2">Steps:</h4>
      <ul class="list-disc list-inside" *ngIf="recipe.steps?.length">
        <li class="text-sm my-1 flex justify-between" *ngFor="let step of recipe.steps | orderBy:'stepOrder'">
          <span>{{ step.stepOrder }} - {{ step.content }} : {{ step.description }}</span>
          <div class="flex gap-x-3">
            <i class="fas fa-trash-alt" (click)="deleteStep(step)"></i>
            <i class="fas fa-pencil" (click)="updateStep(step)"></i>
          </div>
        </li>
      </ul>
      <div class="mt-2">
        <button class="btn" (click)="isNewStepFormVisible = !isNewStepFormVisible">Add Steps</button>
      </div>
      <!-- Form to add a new Step -->
      <div *ngIf="isNewStepFormVisible" class="mt-2 flex flex-col">
        <form>
          <div class="flex justify-between">
            <label for="stepOrder">Step Order</label>
            <input [(ngModel)]="newStep.stepOrder" type="number" id="stepOrder" placeholder="Step Order"
                   name="stepOrder" required class="w-1/4">
          </div>
          <div class="flex justify-between">
            <label for="stepContent">Step Content</label>
            <input [(ngModel)]="newStep.content" type="text" id="stepContent" placeholder="Step Content"
                   name="stepContent" required>
          </div>
          <div class="flex justify-between">
            <label for="stepDescription">Step Description</label>
            <input [(ngModel)]="newStep.description" type="text" id="stepDescription" placeholder="Step Description"
                   name="stepDescription" required>
          </div>
          <button (click)="addStep()" type="submit" class="btn">Submit New Step</button>
        </form>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <form method="dialog">
      <button id="closeDetailsModal" class="btn w-full">Close</button>
    </form>
  </div>
</div>
