<div class="modal-box bg-primary text-black">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="flex flex-col p-8">
    <label class="mb-4">
      <span class="text-lg mb-2 block">Title</span>
      <input type="text" formControlName="title" class="border-2 border-base-300 rounded-lg p-2 w-full">
    </label>
    <label class="mb-4">
      <span class="text-lg mb-2 block">Description</span>
      <input type="text" formControlName="description" class="border-2 border-base-300 rounded-lg p-2 w-full">
    </label>
    <div>Is private?</div>
    <label class="relative h-8 w-14 cursor-pointer [-webkit-tap-highlight-color:_transparent]">
      <input formControlName="isPrivate" type="checkbox" class="peer sr-only"/>
      <span class="absolute inset-0 rounded-full bg-gray-300 transition peer-checked:bg-accent"></span>
      <span
        class="absolute inset-y-0 start-0 m-1 h-6 w-6 rounded-full bg-white transition-all peer-checked:start-6"></span>
    </label>
    <input type="submit" [disabled]="!recipeForm.valid" class="btn bg-base-300 w-full mb-2 p-2 mt-4">
  </form>
  <div class="modal-action">
    <form method="dialog">
      <button id="closeModalCreate" class="btn bg-base-300 w-full p-2">Close</button>
    </form>
  </div>
</div>
