<div class="flex justify-center">
  <button class="btn btn-primary w-10/12 my-5" onclick="create_modal.showModal()">
    <i class="fa fa-plus mr-2"></i> Create a new recipe
  </button>
</div>

<dialog id="create_modal" class="modal backdrop-blur-lg">
  <app-create-recipe-modal class="w-full flex justify-center" [userRecipes]="userRecipes"></app-create-recipe-modal>
</dialog>


<app-recipes-table [userRecipes]="userRecipes"></app-recipes-table>
