<div class="navbar bg-base-300 h-[7vh]">
  <div class="flex-1">
    <a routerLink="" class="btn btn-ghost text-xl">Khizo</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li *ngIf="!isLogged"><a routerLink="register">Register</a></li>
      <li *ngIf="!isLogged"><a routerLink="login">Login</a></li>
      <li *ngIf="isLogged"><a routerLink="recipes">Recipes</a></li>
      <li (click)="logout()" *ngIf="isLogged"><a>Logout</a></li>
    </ul>
  </div>
</div>
