<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:py-0">
  <div class="w-full bg-gray-400 rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
        Register a new account
      </h1>
      <form class="space-y-4 md:space-y-6" (ngSubmit)="onSubmit()" [formGroup]="myForm">
        <div role="alert" class="flex justify-between alert alert-error"
             *ngIf="registrationFailed">
          <span>Registration failed, check your credentials</span>
          <i (click)="registrationFailed=false;" class="fa fa-times cursor-pointer"></i>
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900">Username</label>
          <input type="text" formControlName="username"
                 class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900">Email</label>
          <input type="text" formControlName="email"
                 class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900">Password</label>
          <input type="password" formControlName="password"
                 class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
        </div>

        <button type="submit"
                class="w-full text-white bg-secondary font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          Sign in
        </button>
        <p class="text-sm font-light text-gray-800">
          Already have an account? <a routerLink="/login" class="font-medium  hover:underline">Login</a>
        </p>
      </form>
    </div>
  </div>
</div>
